*{
    margin: 0;
    box-sizing: border-box;
}


.screen{
    margin: 0;
    height: 100px;
    background-color: #4EA0FF;
    background-size: 30%;
    /* background-position: center; */
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
}


#logo{
    margin-top: 50px;
    height: 50%;
}

#credits{
    color: grey;
}

span{
    color: #4EA0FF;
}

div img{
  margin-top: 20px;  
}
